---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { post: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
---

<h1>{post.data.title}</h1>
<p>{post.data.description}</p>
{
    post.data.publishDate && (
        <p>Published on: {new Date(post.data.publishDate).toLocaleDateString()}</p>
    )
}
<div set:html={post.body} />