---
import { getCollection, render } from 'astro:content';
import MySiteLayout from '../../layouts/MySiteLayout.astro';
import "xp.css/dist/XP.css"
import "../../styles/global.css"
export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { post: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post)
---
<MySiteLayout>
    <div class="window" id="post">
        <div class="title-bar">
            <div class="title-bar-text">{post.data.title}</div>
            <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <a href="/posts" aria-label="Close" >
                <button aria-label="Close">
                </button>
            </a>
            </div>
        </div>
        <div class="window-body">
            <div class="window-spacing">
                <Content />
                {post.data.publishDate && (<p>Published on: {post.data.publishDate}</p>)}
            </div>
        </div>
    </div>
</MySiteLayout>
<style>
    #post {
        max-width: 700px;
        height: 600px;
        max-height: 90vh;
        display: flex;
        flex-direction: column;
    }
    .window {
        width: 95%;
        max-width: 700px;
        height: 600px;
        max-height: 90vh;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .window-body {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
        min-height: 0;
        margin: 0px 3px 0px 3px;
    }
    .window-spacing {
        padding: 10px;
        background-color: white;
    }

    @media screen and (max-width: 576px) {
      .window {
        width: 95%;
        height: 95dvh;
        max-height: 95dvh;
      }
    }
</style>