---
import "xp.css/dist/XP.css"
import "../styles/global.css"
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <link rel="preload" href="/windows_xp_15.jpg" as="image">
        <ClientRouter />
    </head>
    <body transition:animate="none">
        <slot />
    </body>
    <style>
        html {
            background-image: url('/windows_xp_15.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100dvh;
        }
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    </style>
</html>